<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket List</title>
</head>
<body>
    <h1>Ticket List</h1>
    <ul>
        {% for ticket in tickets %}
            <li>
                <h2>Ticket ID: {{ ticket.id }}</h2>
                <p>Chat ID: {{ ticket.chat_id }}</p>
                <p>Text: {{ ticket.text }}</p>
                <p>Status: {{ ticket.status }}</p>
                <p>Change status:
                <select name="status" onchange="changeStatus(this)">
                    <option value="open" data-ticket-id="{{ ticket.id }}" {% if ticket.status=='open' %} selected {% endif %}>Open</option>
                    <option value="in_work" data-ticket-id="{{ ticket.id }}" {% if ticket.status=='in_work' %} selected {% endif %}>In Work</option>
                    <option value="close" data-ticket-id="{{ ticket.id }}" {% if ticket.status=='close' %} selected {% endif %}>Close</option>
                </select>
                <form class="answerForm" data-ticket-id="{{ ticket.id }}">
                  <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
                  <p>Answer: <input type="text" name="answer" value="{% if ticket.answer %}{{ ticket.answer }}{% endif %}"></p>
                  <button type="submit">Отправить</button>
                </form>
                <p>Created at: {{ ticket.created_at }}</p>
                <p>Updated at: {{ ticket.updated_at }}</p>
            </li>

        {% endfor %}
    </ul>
    <script>
    function changeStatus(selectElement) {
        var ticketId = selectElement.options[selectElement.selectedIndex].getAttribute('data-ticket-id');
        var newStatus = selectElement.value;
        fetch('/tickets', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                ticket_id: ticketId,
                status: newStatus
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log(data);
        })
        .catch(error => {
            console.error('Error:', error);
        });
    }
    </script>

   <script>
      function sendAnswer(answerValue, ticketId) {
        fetch('/answer', {
          method: 'PATCH',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ answer: answerValue, ticket_id: ticketId })
        })
        .then(response => response.json())
        .then(data => {
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }

      document.querySelectorAll('.answerForm').forEach(form => {
        form.addEventListener('submit', function(event) {
          event.preventDefault();
          var answerValue = form.querySelector('input[name="answer"]').value;
          var ticketId = form.querySelector('input[name="ticket_id"]').value;
          sendAnswer(answerValue, ticketId);
        });
      });
    </script>

</body>
</html>